
body {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 100vh;
}

#container {
   display: grid;
   width: 800px;
   height: 800px;
   background-color: grey;
   border: 3px solid black;
}



